body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

#quote-container {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

#quote {
    font-size: 18px;
    margin-bottom: 20px;
}

#new-quote-button {
    background-color: #00b8d4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

#new-quote-button:hover {
    background-color: #0095c6;
}